html{
	scroll-behavior: smooth;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    opacity: 0;
    transition: 2.5s;
    background-color: rgb(253, 221, 164);
    height: 100vh;
}

#main {
    height: 100vh;
}

#contact {
    height: 100vh;
}